.logManage{
  .filter-main{
    .filter-tag1{
      display: inline-block;
      margin-right: 10px;
      vertical-align:top
    }
    .filter-tag2{
      display: inline-block;
      width: auto;
      vertical-align:top
    }
  }
}
