.news{
  .input-wrap{
    position: relative;
  }
  .count{
    position: absolute;
    right: 300px;
    top:0 ;
    color: #bbb;
  }
  .add-input{
    border: 0;
    line-height: 40px;
    width: 100%;
    padding-left: 2px;
    &:focus{
      outline: 0!important;
      box-shadow: none;
    }
  }

  .BraftEditor-container{
    border:1px solid rgba(0,0,0,.2);
  }
  .ant-form-item-label{
    text-align: left;
  }
  .ant-form-item{
    margin-bottom: 0;
  }
}
.braft-modal-addon-text{
  display: none;
}
